<a href="https://colab.research.google.com/github/Omdena-Bhutan/02-data-structures-assignment-team-9/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Notes
# defining a list/ creating list
numbers  = [1,2,3,4]

In [ ]:
type(numbers)

list

In [ ]:
# create list of string
names = ["Alice", "Janet", "Bob"]
print(names)

['Alice', 'Janet', 'Bob']

In [ ]:
# heterogenous list
mixed = [1, "Desmond", True, 1.2]
mixed [1]

'Desmond'

In [ ]:
# add element to list
names.append("David")
names

['Alice', 'Janet', 'Bob', 'David']

In [ ]:
# remove
names.remove("Janet")
names

['Alice', 'Bob', 'David']

create list of fruits - apple, banana, cherry
-add element mango into list
-remove element banana from list
-finally add an element orange to be first element in the list such that result is orange, apple,cherry, mango

In [ ]:
fruits = ["Apple", "Banana", "Cherry"]
fruits

['Apple', 'Banana', 'Cherry']

In [ ]:
fruits.append("Mango")
fruits

['Apple', 'Banana', 'Cherry', 'Mango']

In [ ]:
fruits.remove("Banana")
fruits

['Apple', 'Cherry', 'Mango']

In [ ]:
fruits[0]="Orange"
fruits

['Orange', 'Apple', 'Cherry', 'Mango']

Tuples()
- immutable

In [51]:
fruits = ("apple", "banana", "mango")

print(fruits[2])

mango

Dictionaries

In [ ]:
person = {
    "name": "Dorji",
    "age": 22,
    "city": "Thimphu"
}

print(person["name"])
print(person["age"])
print(person["city"])

Dorji
22
Thimphu